.style{    
    margin:auto;
    margin-top: 5%;
    width:36%;
    background: rgba(218, 71, 13, 0.80);
    box-shadow: 0px 6px 9px 9px;    
}
p{
    margin:auto;
    width:50%;
}
.style h1{
    padding:10px 0px 0px 10px;
}
h2{
    margin:auto;
    width:90%;
    padding: 10px 0px 10px 80px;
}
.style img{
    padding-left:50px;
}