.course{
    display: grid;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    grid-template-rows: 5rem 12rem 5rem;    
    margin:auto;
    margin-top: 5%;
    width:17rem;    
    background: rgba(218, 71, 13, 0.80);
    box-shadow: 0px 6px 9px 9px;
}
.menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20% 80%;
    height: 35rem;
    margin:auto;    
    margin-top: 2%;
    width:80rem;
    background: rgba(209, 201, 198, 0.8);
    box-shadow: 0px 6px 9px 9px;
}
.course p{
    font-size: 1.2rem;
    grid-row: 3/4;
}
.menu h1{
    display: grid;
    grid-column: 1/span 4;
    justify-content: center;
    margin:auto;
    width:50%;
    padding:10px 0px 0px 10px;
}
h2{
    margin:auto;
    width:90%;
    padding: 10px 0px 10px 80px;
}
.course img{
    height:10rem;
    grid-row: 2/3;
    justify-content: center;
}