.home{
    margin:auto;
    width: 100%;    
}
body{
    background-image: url('./hotwings.jpg');
    background-repeat: repeat;
}
/*Contents of Home Page*/
.style{   
    display: grid;
    justify-content: center;
    align-items: center; 
    margin:auto;
    margin-top: 5%;
    width:36%;
    background: rgba(218, 71, 13, 0.80);
    box-shadow: 0px 6px 9px 9px;    
}
.style p{
    margin:auto;
    width:50%;
}
.style h1{
    padding:10px 0px 0px 10px;
}
.style h2{
    margin:auto;
    width:90%;
    padding: 10px 0px 10px 80px;
}
.style img{
    padding-left:50px;
}
/*About Page and Contact Page*/
.about{ 
    display:grid;
    grid-template-rows: 20% 80%;   
    margin:auto;
    margin-top: 5%;
    width:36%;
    height: 20rem;
    background: rgba(218, 71, 13, 0.90);
    box-shadow: 0px 6px 9px 9px; 
    justify-content: center;
    align-items: center;  
}
.about p{
    display: grid;
    grid-row: 2/3;
    justify-content: center;
    font-size:1.5rem;    
    padding: 10px 30px 60px 30px;
    font-stretch: expanded;
}
.about h1{ 
    display: grid;
    justify-content: center;   
    margin:auto;
    width:50%;
    padding:10px 0px 0px 10px;
}
.contact{
    display:grid;
    grid-template-rows: 25% 25% 25% 25%;   
    margin:auto;
    margin-top: 5%;
    width:36%;
    height: 20rem;
    background: rgba(218, 71, 13, 0.90);
    box-shadow: 0px 6px 9px 9px; 
    justify-content: center;
    align-items: center;
}
.contact p{
    display: grid;
    justify-content: center;
    font-size:1.5rem;    
    padding: 15px 0px 60px 0px;
    font-stretch: expanded;
}
.contact h1{ 
    display: grid;
    justify-content: center;   
    margin:auto;
    width:50%;
    padding:10px 0px 0px 10px;
}
/*Menu Page and Contents*/
.course{
    display: grid;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    grid-template-rows: 5rem 12rem 5rem;    
    margin:auto;
    margin-top: 5%;
    width:17rem;    
    background: rgba(218, 71, 13, 0.80);
    box-shadow: 0px 6px 9px 9px;
}
.menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 20% 80%;
    height: 35rem;
    margin:auto;    
    margin-top: 2%;
    width:80rem;
    background: rgba(209, 201, 198, 0.8);
    box-shadow: 0px 6px 9px 9px;
}
.course p{
    display: grid;
    justify-content: center;
    font-size: 1.2rem;
    grid-row: 3/4;
}
.menu h1{
    display: grid;
    grid-column: 1/span 4;
    justify-content: center;
    margin:auto;
    width:50%;
    padding:10px 0px 0px 10px;
}
h2{
    margin:auto;
    width:90%;
    padding: 10px 0px 10px 80px;
}
.course img{
    height:10rem;
    grid-row: 2/3;
    justify-content: center;
}
/*Navigation Bar*/
nav{
    display: grid;
    grid-template-columns: 900px 100px 100px 100px 100px;
    grid-template-rows: 75px;
    align-items: center;
    text-align: center;
    background-color: rgba(218, 71, 13, 0.9);
    font-family: 'Permanent Marker';
    font-size: 1.8rem;
}
nav div:hover{
    background-color: rgb(209, 164, 75);
    color: green;
    cursor: pointer;
    /*box-shadow: 0px 1px 3px 3px;*/
}
nav div.active{
    background-color: rgb(209, 164, 75);
}